html, body{
    height: 100%;
    overflow-x: hidden;
    background: gray;
}
.noidungto {
    height: 100%;
    transition: ease-in-out 0.4s;
    box-sizing: border-box;
    perspective: 2200px;
}

.menutrai {
    background: #31a745;
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    z-index: 2;
    transition: 0.4s;
}

h3.text-center {
    font-size: 35px;
    padding: 20px;
    color: white;
}

a.list-group-item.list-group-item-action {
    background: none;
    color: white;
}

.nut {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.den {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #00000045;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}
.menutrai.vetrai{
    transform: translateX(-100%);
}
.len{
    opacity: 1;
    visibility: visible;
}
.dichphai{
    transform: translateX(300px);
}
.mautrang{
    width: 100%;
    height: 100%;
    background: white;
    transition: 0.4s;
    transform-origin: 100% 0%;
}
.trangquay{
    transform: rotateY(-15deg);
}