*{
    margin: 0;
    padding: 0;
}
.thanhxanh{
    background-color: #1877F2;
    height: 40px;
}
.motphantu{
    position: relative;float: right;
    margin-right:200px;
    transition: 0.4s; 
}
.tamgiac{
    color:black;
    font-size: 19px;
    transition: 0.4s;
    cursor: pointer;
}
.danhsach{
    position: absolute;
    top: 39px;
    right: 0px;
    width: 200px;
    opacity: 0;
    visibility: hidden;
}
.danhsach::after{
    content: "";
    position: absolute;
    top: -19px;
    right: 0px;
    width: 20;
    height: 20px;
    border: 10px solid #1976f2;
    border-bottom-color: white;
}
.tamgiactrang{
    color:white;
}
.ra{
    visibility: visible;
    opacity: 1;
}